.home {
  background: transparent;
  margin-top: 4.1%;
  border: none;
}

.home_container {
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6D6D6D;
}

::-webkit-scrollbar-track {
  background: white;
}